$primary-color: rgb(22, 22, 52);
$text-color: rgb(232, 99, 121);
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
$colors: (
    'testRed': red,
    'testBlue': blue,
    'testAny': rgb(208, 210, 119)
);