@import './resets';
@import './variables';

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

@mixin flexCenter($direction: 'row') {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin theme($light-theme: true) {
    @if $light-theme {
        background: lighten($primary-color, 100%);
        color: darken($text-color, 100%);
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

body {
    background: $primary-color;
    font-weight: weight(bold);
}

.main {
    @include flexCenter;

    color: map-get($colors, testAny);
    width: 80%;
    margin: 0 auto;

    span {
        color: $text-color;
    }

    #{&}__par {
        margin: 20px;

        &:hover {
            color: white;
        }
    }

    @include mobile {
        flex-direction: column;
    }
}

.light {
    @include theme(false);
}