@import './resets';
@import './variables';

@fun

body {
    background: $primary-color;
    font-weight: map-get($map: $font-weights, $key: bold);
}

.main {
    color: map-get($colors, testAny);
    width: 80%;
    margin: 0 auto;

    span {
        color: $text-color;
    }

    #{&}__par {
        margin-left: 20px;

        &:hover {
            color: white;
        }
    }
}